.task{
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 3px;
} 
.body{
  background-color: #1b1b1b
}
*{
  font-family: "Inter", sans-serif;
}
.todo-item{
  display: flex;
  width:16vw;
  border-radius: 0.6vh;
  background: #1A1A1A;
  color:#D9D9D9;
  margin-bottom:1vh;
  align-items: center;
  justify-content: center;
}
.task-circle{
  width: 11px;
  height: 11px;
  border-radius:50px;
  background-color: transparent;
  border: solid 1px grey;
}
.todo-item2{
  width: 14vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input{
  width: 6%;
  height: 36%;
}
.icon{
  height:24px;
  gap:2px;
}
.taskname{
  width: 210px;
  word-wrap: break-word;
  overflow-y: hidden;
  align-content: center;
}
.delete-btn{
  background:none;
  border:none;
  margin-left: -5px;
  cursor: pointer;
}
.edit-btn{
  background:none;
  border:none;
  cursor: pointer;
}
.title{
  font-size: 1.8rem;
}
.status-todo{
  background-color: green;
  border-radius: 6px;
  padding: 4px
} 
.todos{
  background-color: #101010;
  color: white;
  width: 16vw;
  height: 73vh;
  margin-left:auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 2%;
  margin-top: 8%;
  border: 1px solid rgb(63, 63, 63);
  flex-direction: column
}
.t{
width: 80%;
height: 5%;
display: flex;
flex-direction: row;
align-items: center;
gap: 5%;
margin-bottom:3.5vh;
}
.circle-yellow{
  width: 6%;
  height: 36%;
  background-color: yellow;
  border-radius: 50%;
}
.circle-white{
  width: 6%;
  height: 36%;
  background-color: white;
  border-radius: 50%;
}
.circle-green{
  width: 6%;
  height: 36%;
  background-color: green;
  border-radius: 50%;
}
.circle-red{
  width: 6%;
  height: 36%;
  background-color: red;
  border-radius: 50%;
}
.c{
  display: flex;
  width: 90vw;
  justify-content: center;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  position:relative
}
.button-container{
  position: absolute;
  top:40px;
  right:50px
}
#modal{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: #1A1A1AB2;
  z-index:3;
  color: white;
  display: none
}
.modal-open{
  display: block
}
.modal-content{
  background-color:#1E1E1E;
  margin:25vh auto;
  width: 16vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  border-radius: 0.9vw;
  padding-left: 2.6%;
  padding-right: 2.6%;
  padding-top:2%
}
.title2{
  font-size: 2rem;
}
.modal-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-content > input{
  padding: 6px
}
#task-name{
  background-color:#1E1E1E;
  border:1px solid  rgb(166, 166, 166);
  margin-bottom: 2vh;
  height:2.5vw;
  border-radius: 0.2vw;
  font-size: 0.9vw;
  padding-left: 10px;
  color: white
}
#task-status{
  height:2.5vw;
  border-radius: 0.2vw;
  background: none;
  color: rgba(255, 255, 255, 0.312);
  border:1px solid  rgb(166, 166, 166);
  font-size: 0.9vw;
  padding: 10px
}
.submit{
  height:2.5vw;
  border-radius: 0.2vw;
  background-color: #00A300;
  color: white;
  border: none;
  margin-top: 11vh;
  font-size: 1.2rem;
  cursor: pointer;
}
#edit-button {
  display: none;
  margin-top:11vh;
  height:2.5vw;
  border-radius: 0.2vw;
  font-size: 1.2rem;
  background-color: #00A300;
  color: white;
  border: none
}
.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.button {
  background-color: #00A300;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 2rem; 
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .title {
    font-size: 1rem; 
  }
  .button {
    font-size: 1rem; 
  }
  .button-container{
    top: 20px;
    right: 30px
  }
}

@media (max-width: 1440px) {
  .title {
    font-size: 1.2rem; 
  }
  .button {
    font-size: 1.2rem; 
    padding:12px 20px
  }
  .button-container{
    top: 30px;
    right: 30px
  }
  .todos{
    border-radius: 10px
  }
  .submit{
    font-size: 0.9rem;
    height: 2.2vw;
    margin-top: 8vh;
    cursor: pointer;
  }
  #edit-button{
    font-size: 0.9rem;
    height: 2.2vw;
    margin-top: 8vh;
    cursor: pointer;
  }
  .title2{
    font-size: 1.3rem;
  }
  .modal-content{
    width: 17vw;
    height: 20vw;
    border-radius: 0.7vw;
    padding-left: 2%;
    padding-right: 2%;
    padding-top:1.5%;
  }
  .icons{
    display: flex;
  }
  .taskname{
    width: 120px;
    word-wrap: break-word;
    overflow-y: hidden;
    align-content: center;
    font-size: 0.9rem;
  }
}
