.task{
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 3px
} 
.body{
  background-color: #1b1b1b
}
*{
  font-family: "Inter", sans-serif;
}
.todo-item{
  display: flex
}
.title{
  font-size: 1.8em
}
.status-todo{
  background-color: green;
  border-radius: 6px;
  padding: 4px
} 
.todos{
  background-color: #101010;
  color: white;
  width: 16vw;
  height: 73vh;
  margin-left:auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 2%;
  margin-top: 8%;
  border: 1px solid rgb(63, 63, 63);
  flex-direction: column
}
.t{
width: 80%;
height: 5%;
display: flex;
flex-direction: row;
align-items: center;
gap: 5%
}
.circle-yellow{
  width: 7%;
  height: 45%;
  background-color: yellow;
  border-radius: 50%;
}
.circle-white{
  width: 7%;
  height: 45%;
  background-color: white;
  border-radius: 50%;
}
.circle-green{
  width: 7%;
  height: 45%;
  background-color: green;
  border-radius: 50%;
}
.circle-red{
  width: 7%;
  height: 45%;
  background-color: red;
  border-radius: 50%;
}
.c{
  display: flex;
  width: 90vw;
  justify-content: center;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  position:relative
}
.button{
  background-color: #00A300;
  color: white;
  border:none;
  padding: 30px 55px 30px 55px;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem
}
.button-container{
  position: absolute;
  top:60px;
  right:50px
}
#modal{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: #1A1A1AB2;
  z-index:3;
  color: white;
  display: none
}
.modal-open{
  display: block
}
.modal-content{
  background-color:#1E1E1E;
  margin:450px auto;
  width: 20%;
  height: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  border-radius: 30px;
  /* padding: 12px; */
  /* padding: 2% */
  padding-left: 2.6%;
  padding-right: 2.6%;
  padding-top:2%
}
.title2{
  font-size: 2.5rem;
}
.modal-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-content > input{
  padding: 6px
}
.test{
  display: flex;
  flex-direction: column
}
#task-name{
  background-color:#1E1E1E;
  border:1px solid  rgb(63, 63, 63);
  height:80%;
  margin-bottom:20%
}
#task-status{
  /* border:1px solid  rgb(63, 63, 63); */
}