.task{
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 3px
} 
.body{
  /* background-color: #333 */
}
*{
  font-family: "Inter", sans-serif;
}
.todo-item{
  display: flex
}
.title{
  /* font-size: 50px */
  font-size: 2.5em
}
.status-todo{
  background-color: green;
  border-radius: 6px;
  padding: 4px
} 
.container{
  background-color: #101010;
  color: white;
  width: 20vw;
  height: 84vh;
  margin-left:auto;
  margin-right: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2%
}
.items-top{
/* background-color: green; */
width: 80%;
height: 5%;
display: flex;
flex-direction: row;
align-items: center;
gap: 5%
}
.items-bottom{

}
.circle{
  width: 5%;
  height: 33%;
  background-color: yellow;
  border-radius: 50%;
}